extend _head

block pageBody
    body(class=bodyclass)
        include _header
        #main-wrapper
            block main-wrapper
        include _footer
        script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
        //- script(type='text/javascript',src="assets/js/vendor.js")
        //- script(type='text/javascript',src="assets/js/plugin.js")
        script(type='text/javascript',src="assets/js/app.js")